<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Template</title>
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	
	<!-- Read scripts -->
	<script src="app.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>	
	
</head>
<body>
<nav>
	<ul id="navigate">
		<li>
			<a href="/#"><img width="20" alt="Spotify" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Spotify.svg/256px-Spotify.svg.png"/></a>
		</li>	
		<li> Spotify Challenge </li>
		<!-- <li id = "login"> Login </li> -->
	</ul>
</nav>
	<!-- Initiate app -->
	<div ng-app="myApp" ng-controller="myCtrl">
		<!-- Form -->
		
		
		<form class="container" name="playlistForm">
			<div class = "row">
				<div class = "form-horizontal col-sm-6 col-md-6">
					<div class="form-group" id ="searched">
						<input name="search" placeholder="What u feelin..." ng-model="playlist" class="form-control"></input>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button ng-disabled="playlistForm.search.$invalid" class="btn btn-primary" ng-click="getPlaylist()" type="submit">Submit</button>
			</div>
		</form>
		<!-- Results -->
		<div class="container-fixed">
			<div class="help-block">
				<span ng-show="playlists.length>0">Click to sample</span>
				<span ng-show="currentSong && !audioObject.paused">(playing)</span>
			</div>			
			<ul>
				<li ng-repeat="playlist in playlists" class="" ng-click="songlist()" title="{{playlists.name}}">{{playlist.name}}</li>
			</ul>
			<ul>
				<li ng-repeat=" songlist in songlists" class ="" title="{{songlists.name}}">{{songlist.name}}</li>
			</ul>
		</div>
	</div>
</body>
</html>